.loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 0.5s linear infinite;
  }

  /* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

body{
    width: 100%;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    display: flex;
    align-items: center;    
    padding: 10px;       
}

.nav-unicamp{
    margin: 20px;
}

.nav-nav-transportes{   
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;        
}

.nav-transportes{    
    display: flex;
    flex-direction: column;
    justify-content: center;       
}

.nav-transportes p{
    margin-top: 8px;
    margin-bottom: 8px;
}

.nav-postos{
    display: flex;
    flex-direction: column;
    justify-content: center;        
    padding: 10px;
    width: 25%;
    height: 30%;
    background-color: black;
    color: white;
    font-weight: bold;   
    font-size: 22px; 
}

.div_busca{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%; 
    height: 50px;
}

.div_busca_postos{
    display: flex;
    justify-content: center;
    align-items: center;
       
    
}

.div_sel_cidade{
    display: flex;        
    justify-content:space-evenly;
    align-items: center;    
    height: 50px;
    width: 50%;
}

#button_buscar{  
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-top: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 6, 6);
    width: 200px;
    height: 60px;
    box-shadow: 1px 1px 2px 2px rgba(206, 202, 202, 0.2);
}

#button_buscar:active{
    margin-left: 1%;
    box-shadow: none;
    background-color: rgb(180, 6, 6);
}

tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover{
    background-color: rgb(207, 121, 121);
    color: white;
}

th, td {
    padding: 15px;
    text-align: left;
}


table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

select{
    height: 30px;    
    margin: 10px;
}