@font-face {
    font-family: Robot;
    src: url(../font/RobotoCondensed-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Robot;
    src: url(../font/RobotoCondensed-Regular.ttf);
}

body {
    margin: 0;
}

/* div, img, p {
    outline: 1px solid black; 
} */

.btn:hover {
    cursor: pointer;
}

.nav-mail {
    height: 40px;
    display: flex;
    align-items: center;
}

.nav-mail p {
    margin: 0px;
    height: 100%;
    color: white;
    font-weight: bold;
    font-family: Robot;
    background-color: black;
}

.nav-container {
    background-color: white;
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    height: 80px;
}

.nav-logo-container {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-logo-container img:active {
    margin-top: 3%;
    margin-left: 7%;
}

.nav-logo-container p {
    font-weight: bold;
    font-family: Robot;
    font-size: 150%;
    outline: none;
    text-shadow: 0.6px 0.6px 0.6px rgb(131, 46, 46);
}

.nav-menu {
    margin-left: 10%;
    display: flex;
    justify-content: space-evenly;
    font-family: Robot;
    font-size: 100%;
    width: 65%;
}

.nav-menu p {
    width: 20%;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    text-align: center;
}

.nav-menu p:nth-child(2), .nav-menu p:nth-child(3), .nav-menu p:nth-child(4), .nav-menu p:nth-child(5) {
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-collapse: collapse;
    border-color: rgba(85, 84, 84, 0.342);
}

.nav-menu p:hover {
    color: rgba(196, 6, 6);
    font-weight: bold;
    font-size: 110%;
    cursor: pointer;
}

.nav-menu p:active {
    font-size: 90%;
}

#nav-menu-abastecimento {
    display: none;
}

.nav-menu-abastecimento:hover+#nav-menu-abastecimento {
    display: flex;
    flex-direction: column;
}

.highligh-container {
    width: 100%;
    outline: 1px solid #0000001a;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.863);
    color: white;
}

.highligh-phrase {
    width: 50%;
}

.highligh-phrase p {
    font-weight: bold;
    font-size: 500%;
    text-align: left;
    text-shadow: -1px 0 rgb(180, 6, 6), 0 1px rgb(180, 6, 6), 1px 0 rgb(180, 6, 6), 0 -1px rgb(180, 6, 6);
}

.highligh-button {
    border-radius: 10px;
    text-align: center;
    background-color: rgb(190, 6, 6);
    width: 15%;
    box-shadow: 2px 2px 2px 2px rgba(73, 72, 72, 0.568);
    color: rgb(255, 255, 255);
    font-family: Robot;
    font-weight: bold;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgba(85, 84, 84, 0.342);
}

.highligh-button:active {
    margin-top: 0.5%;
    box-shadow: none;
    background-color: rgb(180, 6, 6);
}

.highligh-img {
    width: 35%;
}

.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-container-body {
    width: 100%;
    margin-top: 4%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.services-container-instance {
    border-radius: 3px;
    width: 20%;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px 3px rgba(36, 35, 35, 0.2);
    font-weight: bold;
    font-family: Robot;
    outline: 1px solid rgb(197, 197, 197);
}

.services-container-instance img {
    width: 100%;
}

.services-container-instance p {
    margin-left: 7%;
}

.services-container-instance-button {
    border-radius: 3px;
    text-align: center;
    background-color: rgb(190, 6, 6);
    width: 40%;
    box-shadow: 2px 2px 2px 2px rgba(36, 35, 35, 0.2);
    color: rgb(255, 255, 255);
    font-family: Robot;
    font-weight: bold;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgba(85, 84, 84, 0.342);
    margin-top: 7%;
    margin-bottom: 5%;
    margin-left: 54%;
}

.services-container-instance-button p {
    text-align: center;
}

.services-container-instance-button:active {
    margin-top: 8%;
    margin-bottom: 4%;
    margin-left: 55%;
    box-shadow: none;
    background-color: rgb(180, 6, 6);
}

.mobile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    margin-top: 2%;
}

.mobile-header {
    font-family: Robot;
    font-weight: bold;
    font-size: 170%;
    display: flex;
    height: 18%;
}

.mobile-header p {
    align-self: flex-end;
    margin: 0;
}

.mobile-text {
    width: 50%;
    color: rgb(37, 37, 37);
    font-size: 150%;
    font-family: Robot;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mobile-download-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 2%;
}

.mobile-download-container img {
    width: 50%;
    height: 100%;
}

.mobile-download-container-apple:active, .mobile-download-container-google:active {
    height: 75%;
}

.footer-container {
    padding-top: 2%;
    width: 100%;
    height: 220px;
    background-image: url(../img/redbg.png);
    color: rgb(190, 186, 186);
    font-family: Robot;
    display: flex;
    justify-content: center;
}

.footer-container-col {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 25%;
}

.footer-item p {
    margin: 0;
    padding: 2%;
}

.footer-item-contact {
    display: flex;
}

.footer-item-contact p {
    width: 70%;
}

.footer-item-contact:active {
    margin-top: 1%;
    margin-left: 1%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 40%;
    color: black;
    font-family: Robot;
    border-radius: 10px;
}

.modal-content p {    
    color: black;
    font-family: Robot;
    margin-left: 5%;
    margin-right: 5%;
}

.modal-content a {    
    color: rgb(190,6,6);
    font-family: Robot;
    margin-left: 5%;
    margin-top:2%;
}

.modal-bar-content {
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(59, 59, 59);
    width: 100%;
}

.modal-bar-content p {
    color: white;
    font-weight: bolder;
    background-color: rgb(59, 59, 59);
    margin-left: 2%;
}

.close-modal {
    border-radius: 3px;
    text-align: center;
    background-color: rgb(190, 6, 6);
    width: 10%;
    box-shadow: 2px 2px 2px 2px rgba(36, 35, 35, 0.2);
    color: rgb(255, 255, 255);
    font-family: Robot;
    font-weight: bold;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgba(85, 84, 84, 0.342);
    margin-left: 88%;
    margin-top: 5%;
    margin-bottom: 2%;
}